<!--Footer Section Start -->
<footer class="footer-section fix bg-cover" style="background-image: url(/assets/img/home-1/footer-bg.jpg);">
    <div class="container">
        <div class="footer-wrapper">
            <div class="row">
                <div class="col-xl-12">
                    <div class="footer-item">
                        <h2>
                            <a href="tel:+16336547896">+163 3654 7896</a>
                        </h2>
                        <h2 class="text">شارع 69، الجادة الخامسة، الولايات المتحدة</h2>
                        <div class="footer-list-item">
                            <a href="/">
                                <img src="/assets/img/logo/Hikma_logo_final.png" alt="img" style="max-height: 50px;">
                            </a>
                            <ul class="footer-list">
                                <li>
                                    <a href="/">الرئيسية</a>
                                </li>
                                <li>
                                    <a href="/about">من نحن</a>
                                </li>
                                <li>
                                    <a href="/visas">التأشيرات</a>
                                </li>
                                <li>
                                    <a href="/blog">المدونة</a>
                                </li>
                                <li>
                                    <a href="/services">الخدمات</a>
                                </li>
                                <li>
                                    <a href="/contact">اتصل بنا</a>
                                </li>
                            </ul>
                            <div class="social-icon">
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--Footer-Bottom Section Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="footer-wrapper">
            <p>
                حقوق الطبع والنشر © <span>GRAMENTHEME</span> جميع الحقوق محفوظة.
            </p>
            <ul class="bottom-list">
                <li>
                    <a href="/contact">الشروط والأحكام</a>
                </li>
                <li>
                    <a href="/contact">سياسة الخصوصية</a>
                </li>
                <li>
                    <a href="/contact">اتصل بنا</a>
                </li>
            </ul>
        </div>
    </div>
</div>


