<!DOCTYPE html>
<html lang="ar" dir="rtl">
<!--<< Header Area >>-->

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Gramentheme">
    <meta name="description" content="<%= typeof description !== 'undefined' ? description : 'حكمة للدراسة في تركيا - استشارات تعليمية وتأشيرات' %>">
    <!-- ======== Page title ============ -->
    <title><%= typeof title !== 'undefined' ? title : 'حكمة للدراسة في تركيا - شريكك في التخطيط والنجاح' %></title>
    <!--<< Favcion >>-->
    <link rel="shortcut icon" href="/assets/img/logo/logoo_1.png">
    <!--<< Bootstrap min.css >>-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!--<< All Min Css >>-->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <!--<< Animate.css >>-->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!--<< Magnific Popup.css >>-->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!--<< MeanMenu.css >>-->
    <link rel="stylesheet" href="/assets/css/meanmenu.css">
    <!--<< Odometer.css >>-->
    <link rel="stylesheet" href="/assets/css/odometer.css">
    <!--<< Swiper Bundle.css >>-->
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <!--<< Nice Select.css >>-->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!--<< Main.css >>-->
    <link rel="stylesheet" href="/assets/css/main.css">

</head>


