<!-- Header-Top-Section Start -->
<div class="header-top-section">
    <div class="container-fluid">
        <div class="header-top-wrapper">
            <div class="header-left">
                <ul class="list">
                    <li class="style-2">
                        <span>خط المساعدة</span>
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:+093783575222">+09 378 357 5222</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-location-dot"></i>
                        شارع 69، الجادة الخامسة، الولايات المتحدة
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto:info@example.com">info@example.com</a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <div class="social-item">
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Offcanvas Area Start -->
<div class="fix-area">
    <div class="offcanvas__info">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
                <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo">
                        <a href="/">
                            <img src="/assets/img/logo/Hikma_logo_final.png" alt="logo-img" style="max-height: 50px;">
                        </a>
                    </div>
                    <div class="offcanvas__close">
                        <button>
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <p class="text d-none d-xl-block">
                    Nullam dignissim, ante scelerisque the is euismod fermentum odio sem semper the is erat, a
                    feugiat leo urna eget eros. Duis Aenean a imperdiet risus.
                </p>
                <div class="mobile-menu fix mb-3"></div>
                <div class="offcanvas__contact d-xl-block">
                    <h4 class="d-xl-block">Contact Info</h4>
                    <ul class="d-xl-block">
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a target="_blank" href="#">Main Street, Melbourne, Australia</a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon mr-15">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a href="mailto:info@example.com"><span
                                        class="mailto:info@example.com">info@example.com</span></a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon mr-15">
                                <i class="fal fa-clock"></i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a target="_blank" href="#">Mod-friday, 09am -05pm</a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <div class="offcanvas__contact-icon mr-15">
                                <i class="far fa-phone"></i>
                            </div>
                            <div class="offcanvas__contact-text">
                                <a href="tel:+11002345909">+11002345909</a>
                            </div>
                        </li>
                    </ul>
                    <div class="social-icon d-flex align-items-center">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas__overlay"></div>

<!-- Header Section Start -->
<header id="header-sticky" class="header-1">
    <div class="container-fluid">
        <div class="mega-menu-wrapper">
            <div class="header-main">
                <div class="header-left">
                    <div class="logo">
                        <a href="/" class="header-logo-2" style="display: inline-block;">
                            <img src="/assets/img/logo/logoo_1.png" alt="logo-img" class="d-none d-md-block"
                                style="max-height: 100px; width: auto; transform: scale(1.6); transform-origin: right center;">
                            <img src="/assets/img/logo/Hikma_logo_final.png" alt="logo-img" class="d-block d-md-none"
                                style="max-height: 70px; width: auto; transform: scale(1.3); transform-origin: right center;">
                        </a>
                             <!-- <a href="/" class="header-logo-2" style="display: inline-block;">
                            <img src="/assets/img/logo/logoo_1.png" alt="logo-img" class="d-none d-md-block"
                                style="max-height: 100px; width: auto; transform: scale(1.6); transform-origin: right center;">
                            <img src="/assets/img/logo/Hikma_logo_final.png" alt="logo-img" class="d-block d-md-none"
                                style="max-height: 70px; width: auto; transform: scale(1.3); transform-origin: right center;">
                        </a> -->
                    </div>
                    <div class="mean__menu-wrapper">
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="has-dropdown active menu-thumb">
                                        <a href="/">
                                            الصفحة الرئيسية
                                        </a>
                                    </li>
                                    <li class="has-dropdown active d-xl-none">
                                        <a href="/" class="border-none">
                                            Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/about">من نحن</a>
                                    </li>
                                    <li class="has-dropdown position-static mega-menu-parent">
                                        <a href="/universities">جامعاتنا</a>
                                        <ul class="submenu mega-submenu">
                                            <li>
                                                <div class="mega-menu-container" dir="rtl">
                                                    <ul class="country-list">
                                                        <!-- Turkey -->
                                                        <li class="country-item">
                                                            <a href="/universities/turkey" class="country-link">تركيا <i class="fa-solid fa-angle-left"></i></a>
                                                            <ul class="university-list">
                                                                <li class="university-item">
                                                                    <a href="/universities/details/bahcesehir" class="university-link">Bahçeşehir University (BAU) <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">تخصصات جامعة باهتشه شهير:</li>
                                                                        <li><a href="/majors/bachelor-software-engineering">الهندسة الكمبيوترية</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">إدارة الأعمال</a></li>
                                                                        <li><a href="/majors/bachelor-medicine">الطب البشري</a></li>
                                                                        <li><a href="/majors/bachelor-medicine">طب الأسنان</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">العلاقات الدولية</a></li>
                                                                        <li><a href="/majors/bachelor-software-engineering">الإعلام والاتصال</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="university-item">
                                                                    <a href="/universities/details/aydin" class="university-link">Istanbul Aydın University (IAU) <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">تخصصات جامعة أيدن:</li>
                                                                        <li><a href="/majors/bachelor-software-engineering">هندسة البرمجيات</a></li>
                                                                        <li><a href="/majors/bachelor-medicine">طب الأسنان</a></li>
                                                                        <li><a href="/majors/dut-computer-systems">العلاج الطبيعي</a></li>
                                                                        <li><a href="/majors/dut-computer-systems">التصميم الجرافيكي</a></li>
                                                                        <li><a href="/majors/dut-computer-systems">التمريض</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">التجارة الدولية</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="university-item">
                                                                    <a href="/universities/details/sabanci" class="university-link">Sabancı University <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">تخصصات جامعة سابانجي:</li>
                                                                        <li><a href="/majors/bachelor-software-engineering">علوم الهندسة الصناعية</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">الاقتصاد</a></li>
                                                                        <li><a href="/majors/doctorate-ai">العلوم السياسية</a></li>
                                                                        <li><a href="/majors/doctorate-ai">علم النفس</a></li>
                                                                        <li><a href="/majors/doctorate-ai">الفيزياء التطبيقية</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <!-- Madrid -->
                                                        <li class="country-item">
                                                            <a href="/universities/spain/madrid" class="country-link">مدريد (إسبانيا) <i class="fa-solid fa-angle-left"></i></a>
                                                            <ul class="university-list">
                                                                <li class="university-item">
                                                                    <a href="/universities/details/complutense" class="university-link">Universidad Complutense de Madrid <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">تخصصات جامعة كومبلوتنسي:</li>
                                                                        <li><a href="/majors/bachelor-medicine">الطب البشري</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">الحقوق والقانون</a></li>
                                                                        <li><a href="/majors/bachelor-medicine">الصيدلة</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">إدارة الأعمال الدولي</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">الفلسفة</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">الصحافة والإعلام</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="university-item">
                                                                    <a href="/universities/details/carlos3" class="university-link">Universidad Carlos III de Madrid <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">تخصصات جامعة كارلوس الثالث:</li>
                                                                        <li><a href="/majors/bachelor-software-engineering">الهندسة الميكانيكية</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">الاقتصاد المالي</a></li>
                                                                        <li><a href="/majors/bachelor-software-engineering">هندسة الاتصالات</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">إدارة الأعمال بالإنجليزية</a></li>
                                                                        <li><a href="/majors/doctorate-ai">علم البيانات</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="university-item">
                                                                    <a href="/universities/details/autonoma-madrid" class="university-link">Universidad Autónoma de Madrid <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">تخصصات جامعة مدريد المستقلة:</li>
                                                                        <li><a href="/majors/doctorate-biomedical">البيولوجيا الجزيئية</a></li>
                                                                        <li><a href="/majors/doctorate-ai">الفيزياء النظرية</a></li>
                                                                        <li><a href="/majors/bachelor-medicine">طب وجراحة</a></li>
                                                                        <li><a href="/majors/doctorate-biomedical">الكيمياء الحيوية</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">القانون الدولي</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <!-- Barcelona -->
                                                        <li class="country-item">
                                                            <a href="/universities/spain/barcelona" class="country-link">برشلونة (إسبانيا) <i class="fa-solid fa-angle-left"></i></a>
                                                            <ul class="university-list">
                                                                <li class="university-item">
                                                                    <a href="/universities/details/barcelona" class="university-link">Universitat de Barcelona (UB) <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">تخصصات جامعة برشلونة:</li>
                                                                        <li><a href="/majors/bachelor-medicine">الطب البشري</a></li>
                                                                        <li><a href="/majors/bachelor-software-engineering">الفنون الجميلة</a></li>
                                                                        <li><a href="/majors/doctorate-biomedical">الكيمياء والبيئة</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">العلوم الاقتصادية</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">التاريخ والآثار</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="university-item">
                                                                    <a href="/universities/details/pompeu" class="university-link">Universitat Pompeu Fabra (UPF) <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">تخصصات جامعة بومبيو فابرا:</li>
                                                                        <li><a href="/majors/bachelor-business-administration">العلوم السياسية</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">الترجمة واللغات</a></li>
                                                                        <li><a href="/majors/doctorate-biomedical">العلوم الطبية الحيوية</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">الاقتصاد الدولي</a></li>
                                                                        <li><a href="/majors/bachelor-software-engineering">هندسة الاتصالات</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="university-item">
                                                                    <a href="/universities/details/autonoma-barcelona" class="university-link">Universitat Autònoma de Barcelona <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">تخصصات جامعة برشلونة المستقلة:</li>
                                                                        <li><a href="/majors/bachelor-medicine">الطب البيطري</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">الترجمة الفورية</a></li>
                                                                        <li><a href="/majors/doctorate-biomedical">العلوم البيئية</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">الصحافة والاتصال</a></li>
                                                                        <li><a href="/majors/bachelor-software-engineering">الهندسة الكمبيوترية</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <!-- Valencia & Malaga -->
                                                        <li class="country-item">
                                                            <a href="/universities/spain/valencia-malaga" class="country-link">فالنسيا ومالقا (إسبانيا) <i class="fa-solid fa-angle-left"></i></a>
                                                            <ul class="university-list">
                                                                <li class="university-item">
                                                                    <a href="/universities/details/valencia" class="university-link">Universitat de València (UV) <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">تخصصات جامعة فالنسيا:</li>
                                                                        <li><a href="/majors/bachelor-medicine">طب الأسنان</a></li>
                                                                        <li><a href="/majors/bachelor-medicine">الصيدلة</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">العلوم الاقتصادية</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">الحقوق والقانون</a></li>
                                                                        <li><a href="/majors/doctorate-ai">علم النفس</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="university-item">
                                                                    <a href="/universities/details/politecnica-valencia" class="university-link">Universitat Politècnica de València <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">تخصصات جامعة فالنسيا التقنية:</li>
                                                                        <li><a href="/majors/bachelor-software-engineering">الهندسة المعمارية</a></li>
                                                                        <li><a href="/majors/bachelor-software-engineering">هندسة الطيران</a></li>
                                                                        <li><a href="/majors/bachelor-software-engineering">علوم الحاسب والذكاء الاصطناعي</a></li>
                                                                        <li><a href="/majors/dut-computer-systems">التصميم الصناعي</a></li>
                                                                        <li><a href="/majors/bachelor-software-engineering">الهندسة المدنية</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="university-item">
                                                                    <a href="/universities/details/malaga" class="university-link">Universidad de Málaga (UMA) <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">تخصصات جامعة مالقا:</li>
                                                                        <li><a href="/majors/bachelor-business-administration">إدارة الفنادق والسياحة</a></li>
                                                                        <li><a href="/majors/bachelor-software-engineering">هندسة البرمجيات</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">إدارة الأعمال</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">الترجمة واللغات</a></li>
                                                                        <li><a href="/majors/bachelor-medicine">العلوم الطبية</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <!-- Romania -->
                                                        <li class="country-item">
                                                            <a href="/universities/romania" class="country-link">رومانيا <i class="fa-solid fa-angle-left"></i></a>
                                                            <ul class="university-list">
                                                                <li class="university-item">
                                                                    <a href="/universities/romania" class="university-link">جامعة كارول دافيلا للطب <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">جامعة كارول دافيلا للطب والصيدلة:</li>
                                                                        <li><a href="/majors/bachelor-medicine">الطب البشري (باللغة الإنجليزية)</a></li>
                                                                        <li><a href="/majors/bachelor-medicine">طب الأسنان</a></li>
                                                                        <li><a href="/majors/bachelor-medicine">الصيدلة</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="university-item">
                                                                    <a href="/universities/romania" class="university-link">جامعة ياش للطب والصيدلة <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">جامعة غريغوري تي بوبا للطب:</li>
                                                                        <li><a href="/majors/bachelor-medicine">الطب البشري (باللغة الفرنسية/الإنجليزية)</a></li>
                                                                        <li><a href="/majors/bachelor-medicine">طب الأسنان</a></li>
                                                                        <li><a href="/majors/dut-computer-systems">العلاج الطبيعي</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="university-item">
                                                                    <a href="/universities/romania" class="university-link">جامعة غرب تيميشوارا <i class="fa-solid fa-angle-left"></i></a>
                                                                    <ul class="specialty-list">
                                                                        <li class="specialty-title">جامعة غرب تيميشوارا برومانيا:</li>
                                                                        <li><a href="/majors/bachelor-software-engineering">علوم الحاسوب وتكنولوجيا المعلومات</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">إدارة الأعمال والاقتصاد الدولي</a></li>
                                                                        <li><a href="/majors/bachelor-business-administration">الترجمة واللغات الأوروبية</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                    <div class="mega-menu-footer">
                                                        <a href="/universities" class="theme-btn">عرض كافة الجامعات</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown position-static mega-menu-parent">
                                        <a href="/majors">أهم التخصصات</a>
                                        <ul class="submenu mega-submenu">
                                            <li>
                                                <div class="mega-menu-container container-majors" dir="rtl">
                                                    <ul class="category-list">
                                                        <!-- DUT -->
                                                        <li class="category-item">
                                                            <a href="/majors" class="category-link">التكوين المهني (DUT) <i class="fa-solid fa-angle-left"></i></a>
                                                            <ul class="specialty-list-majors">
                                                                <li class="specialty-title">تخصصات التكوين المهني (DUT):</li>
                                                                <li>
                                                                    <a href="/majors/dut-computer-systems">
                                                                        <strong>تطوير أنظمة الحاسوب والشبكات</strong>
                                                                        <span>برنامج تقني مكثف يركز على الجانب العملي لإدارة وصيانة الشبكات وتطوير البرمجيات.</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/majors/dut-business-admin">
                                                                        <strong>الإدارة والمحاسبة المالية للشركات</strong>
                                                                        <span>تأهيل تقنيين في مجالات المحاسبة وإدارة الأعمال لتسيير المعاملات اليومية للشركات.</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <!-- Bachelor -->
                                                        <li class="category-item">
                                                            <a href="/majors" class="category-link">بكالوريوس (Baccalaurios) <i class="fa-solid fa-angle-left"></i></a>
                                                            <ul class="specialty-list-majors">
                                                                <li class="specialty-title">تخصصات البكالوريوس:</li>
                                                                <li>
                                                                    <a href="/majors/bachelor-medicine">
                                                                        <strong>الطب البشري وجراحة العامة</strong>
                                                                        <span>من أرقى التخصصات الطبية لإعداد أطباء مؤهلين وفق أعلى المعايير الدولية.</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/majors/bachelor-software-engineering">
                                                                        <strong>هندسة البرمجيات وعلوم الحاسوب</strong>
                                                                        <span>دراسة شاملة لتصميم وتطوير واختبار الأنظمة البرمجية وحل المشكلات المعقدة.</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/majors/bachelor-business-administration">
                                                                        <strong>إدارة الأعمال والاقتصاد الدولي</strong>
                                                                        <span>دراسة الاقتصاد وإستراتيجيات التسويق والتمويل والإدارة لتأهيل رواد الأعمال.</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <!-- Doctorate -->
                                                        <li class="category-item">
                                                            <a href="/majors" class="category-link">دكتوراه (Doctorat) <i class="fa-solid fa-angle-left"></i></a>
                                                            <ul class="specialty-list-majors">
                                                                <li class="specialty-title">تخصصات الدكتوراه:</li>
                                                                <li>
                                                                    <a href="/majors/doctorate-ai">
                                                                        <strong>الذكاء الاصطناعي وتعلم الآلة المتقدم</strong>
                                                                        <span>برنامج بحثي عالي المستوى لابتكار وتطوير خوارزميات الذكاء الاصطناعي.</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/majors/doctorate-biomedical">
                                                                        <strong>العلوم الطبية الحيوية والجينات</strong>
                                                                        <span>بحوث متقدمة في علم الوراثة البشرية، علاج السرطان، وتطوير اللقاحات والأدوية.</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                    <div class="mega-menu-footer">
                                                        <a href="/majors" class="theme-btn">عرض كافة التخصصات</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="/services">
                                            الخدمات
                                        </a>
                                        <ul class="submenu">
                                            <li><a href="/services">خدماتنا</a></li>
                                            <li><a href="/services/visa-assistance">المساعدة في الفيزا</a></li>
                                            <li><a href="/services/scholarships">المنح الدراسية</a></li>
                                            <li><a href="/services/accommodation">الإقامة للطلبة</a></li>
                                            <li><a href="/services/university-enrollment">التسجيل الجامعي</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/visas">
                                            التأشيرات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/blog">
                                            المدونة
                                        </a>
                                        <ul class="submenu">
                                            <li><a href="/blog/grid">شبكة المدونة</a></li>
                                            <li><a href="/blog">المدونة العادية</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/multimedia/studio">الاستوديو</a>
                                    </li>
                                    <li>
                                        <a href="/contact">اتصل بنا</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="header-right d-flex align-items-center mt-0">
                    <div class="header-call-item">
                        <a href="#" class="main-header__search search-toggler">
                            <i class="fa-regular fa-magnifying-glass"></i>
                        </a>
                        <a href="/contact" class="theme-btn"
                            style="display: inline-flex; align-items: center; flex-direction: row-reverse; padding: 6px 6px 6px 24px;">
                            قدم الآن
                            <i class="fa-solid fa-arrow-right" style="margin-left: 20px; margin-right: 0;"></i>
                        </a>
                        <div class="header__hamburger my-auto">
                            <div class="sidebar__toggle">
                                <i class="fa-solid fa-bars-staggered"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
/* Mega Menu Custom Styles */
@media (min-width: 1200px) {
    .header-main {
        position: relative !important;
    }
    .header-main .main-menu ul li.mega-menu-parent {
        position: static !important;
    }
    .header-main .main-menu ul li.mega-menu-parent .mega-submenu {
        width: 1140px !important;
        left: 50% !important;
        inset-inline-start: auto !important;
        right: auto !important;
        transform: translateX(-50%) scaleY(0) translateZ(0px) !important;
        top: 100% !important;
        padding: 0 !important;
        border: none !important;
        border-top: none !important;
        min-width: auto !important;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 15px 40px rgba(0,0,0,0.1) !important;
        transform-origin: top center !important;
        transition: all 0.3s ease-in-out !important;
        /* Force hidden by default */
        visibility: hidden !important;
        opacity: 0 !important;
    }
    /* Explicitly force display on hover */
    .header-main .main-menu ul li.mega-menu-parent:hover .mega-submenu {
        visibility: visible !important;
        opacity: 1 !important;
        transform: translateX(-50%) scaleY(1) translateZ(0px) !important;
    }
    /* Reset base .submenu styles that conflict with mega-menu layout */
    .header-main .main-menu ul li.mega-menu-parent .mega-submenu li a {
        position: static !important;
        z-index: auto !important;
        letter-spacing: normal !important;
        line-height: normal !important;
        margin-left: 0 !important;
    }
    .header-main .main-menu ul li.mega-menu-parent .mega-submenu li a::before {
        display: none !important;
    }
    .header-main .main-menu ul li.mega-menu-parent .mega-submenu li:hover > a {
        margin-left: 0 !important;
    }
}
@media (max-width: 1199px) {
    .mega-submenu {
        width: 100% !important;
    }
}

/* Container for both mega menus */
.mega-menu-container {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 440px;
    background-color: #ffffff;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    direction: rtl;
    padding: 0 !important;
    border-top: 3px solid #cc181e; /* red top accent line matching screenshot */
    overflow: hidden;
}

/* Country and Category Columns (Right Column) */
.country-list, .category-list {
    list-style: none !important;
    padding: 20px 0 !important;
    margin: 0 !important;
    width: 25%;
    background-color: #f8fafc;
    border-left: 1px solid #e2e8f0;
    height: 100%;
    min-height: 440px;
    z-index: 10;
}

/* Item within the list */
.country-item, .category-item {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

/* Link elements in Right Column */
.country-link, .category-link {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 14px 25px !important;
    color: #334155 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    transition: all 0.25s ease;
    border-bottom: 1px solid #f1f5f9;
    text-decoration: none;
    text-align: right !important;
}

.country-link i, .category-link i {
    font-size: 12px;
    transition: transform 0.25s ease;
    color: #94a3b8;
}

.country-item:hover .country-link,
.category-item:hover .category-link {
    background-color: #eff6ff !important;
    color: #174093 !important;
}

.country-item:hover .country-link i,
.category-item:hover .category-link i {
    transform: translateX(-5px);
    color: #174093;
}

/* --- Second Column: Universities (Middle Column) --- */
.university-list {
    list-style: none !important;
    padding: 20px 0 !important;
    margin: 0 !important;
    position: absolute;
    top: 0;
    right: 25%;
    width: 35%;
    background-color: #ffffff;
    border-left: 1px solid #e2e8f0;
    height: 100%;
    min-height: 440px;
    display: none;
    z-index: 8;
    overflow-y: auto;
}

.university-item {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

.university-link {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px !important;
    color: #475569 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    transition: all 0.25s ease;
    border-bottom: 1px solid #f8fafc;
    text-decoration: none;
    text-align: right !important;
}

.university-link i {
    font-size: 11px;
    color: #cbd5e1;
    transition: transform 0.25s ease;
}

.university-item:hover .university-link {
    background-color: #f0fdf4 !important;
    color: #166534 !important;
}

.university-item:hover .university-link i {
    transform: translateX(-5px);
    color: #166534;
}

/* --- Third Column: Specialties (Left Column) --- */
.specialty-list, .specialty-list-majors {
    list-style: none !important;
    padding: 25px 30px 60px 30px !important; /* bottom padding allows space above footer */
    margin: 0 !important;
    position: absolute;
    top: 0;
    right: 60%;
    width: 40%;
    background-color: #fcfdfe;
    height: 100%;
    min-height: 440px;
    display: none;
    z-index: 6;
    overflow-y: auto;
}

/* For Majors menu, the specialty list occupies the rest of the menu (75%) */
.container-majors .specialty-list-majors {
    right: 25%;
    width: 75%;
    list-style: none !important;
    background-color: #ffffff;
}

.specialty-title {
    font-size: 14px !important;
    font-weight: 700 !important;
    color: #174093 !important;
    margin-bottom: 15px !important;
    padding-bottom: 8px;
    border-bottom: 1px dashed #e2e8f0;
    list-style: none !important;
    text-align: right !important;
}

/* Individual specialties list items */
.specialty-list li {
    margin-bottom: 10px !important;
    font-size: 13.5px !important;
    color: #475569 !important;
    list-style: disc !important;
    text-align: right !important;
    margin-right: 15px !important; /* indentation for bullets */
}

.specialty-list li a {
    color: #475569 !important;
    transition: all 0.2s ease;
    font-weight: 500 !important;
    display: inline !important;
    padding: 0 !important;
    text-align: right !important;
}

.specialty-list li a:hover {
    color: #cc181e !important;
    padding-right: 2px !important;
}

/* Majors custom specialty layout (using beautiful cards or detail rows) */
.specialty-list-majors li {
    margin-bottom: 12px !important;
    list-style: none !important;
    text-align: right !important;
}

.specialty-list-majors li a {
    display: block !important;
    padding: 12px 18px !important;
    border-radius: 8px;
    border: 1px solid #f1f5f9;
    background-color: #f8fafc;
    transition: all 0.25s ease;
    text-decoration: none;
    text-align: right !important;
}

.specialty-list-majors li a strong {
    display: block;
    font-size: 14px;
    color: #1e293b;
    margin-bottom: 4px;
}

.specialty-list-majors li a span {
    display: block;
    font-size: 12px;
    color: #64748b;
    line-height: 1.5;
}

.specialty-list-majors li a:hover {
    border-color: #bfdbfe;
    background-color: #eff6ff;
}

.specialty-list-majors li a:hover strong {
    color: #174093;
}

/* --- Pure CSS Hover Behavior for Multi-Level --- */

/* Country -> University List */
.country-item:hover .university-list {
    display: block !important;
}

/* University -> Specialty List */
.university-item:hover .specialty-list {
    display: block !important;
}

/* Category -> Specialty List (Majors) */
.category-item:hover .specialty-list-majors {
    display: block !important;
}

/* --- Default Active Tab Mechanism --- */

/* By default (when menu is opened but not interacted with), show Turkey and Bahcesehir */
.country-item:first-child .university-list {
    display: block;
}
.country-item:first-child .university-list .university-item:first-child .specialty-list {
    display: block;
}

/* Sibling Hover Hiding:
   When hovering over the country-list container, hide the default (first-child) university list,
   unless we are hovering on the first child itself. */
.country-list:hover .country-item:first-child .university-list {
    display: none;
}
.country-list .country-item:first-child:hover .university-list {
    display: block;
}

/* Sibling Hover Hiding for University specialties */
.university-list:hover .university-item:first-child .specialty-list {
    display: none;
}
.university-list .university-item:first-child:hover .specialty-list {
    display: block;
}

/* Category Default Active Tab (Majors) */
.category-item:first-child .specialty-list-majors {
    display: block;
}
.category-list:hover .category-item:first-child .specialty-list-majors {
    display: none;
}
.category-list .category-item:first-child:hover .specialty-list-majors {
    display: block;
}

/* --- Footer for mega menu --- */
.mega-menu-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%; /* covers the middle and left columns */
    padding: 12px 30px;
    background-color: #f8fafc;
    border-top: 1px solid #e2e8f0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 12;
}

.container-majors .mega-menu-footer {
    width: 75%;
}

.mega-menu-footer .theme-btn {
    background-color: #174093 !important;
    color: #ffffff !important;
    padding: 8px 24px !important;
    font-size: 13.5px !important;
    font-weight: 600 !important;
    border-radius: 20px !important;
    transition: all 0.3s ease !important;
    text-decoration: none;
    display: inline-block !important;
}

.mega-menu-footer .theme-btn:hover {
    background-color: #cc181e !important;
    color: #ffffff !important;
}

/* Mobile responsive flat design overrides */
@media (max-width: 1199px) {
    .mega-menu-container {
        flex-direction: column !important;
        min-height: auto !important;
        height: auto !important;
        box-shadow: none !important;
        border-top: none !important;
    }
    .country-list, .category-list {
        width: 100% !important;
        min-height: auto !important;
        height: auto !important;
        border-left: none !important;
        border-bottom: 1px solid #e2e8f0 !important;
        padding: 10px 0 !important;
    }
    .university-list {
        position: static !important;
        width: 100% !important;
        min-height: auto !important;
        height: auto !important;
        border-left: none !important;
        border-bottom: 1px solid #e2e8f0 !important;
        background-color: #fafbfc !important;
        display: none !important; /* Show on parent hover on mobile */
        padding: 5px 0 !important;
    }
    .specialty-list, .specialty-list-majors {
        position: static !important;
        width: 100% !important;
        min-height: auto !important;
        height: auto !important;
        background-color: #f1f5f9 !important;
        display: none !important; /* Show on parent hover on mobile */
        padding: 15px 25px !important;
        border-left: none !important;
    }
    .container-majors .specialty-list-majors {
        width: 100% !important;
    }
    .mega-menu-footer {
        position: static !important;
        width: 100% !important;
        border-top: 1px solid #e2e8f0 !important;
        padding: 15px !important;
        justify-content: center !important;
    }
}
</style>


