<%- include('partials/head', { title: 'من نحن - Hikma' }) %>

<body class="smooth-scroll-yes">


    <!-- Preloader Start -->
    <div id="preloader" class="preloader">
        <div class="animation-preloader">
            <div class="spinner">
            </div>
            <div class="txt-loading">
                <span data-text-preloader="H" class="letters-loading">H</span>
                <span data-text-preloader="I" class="letters-loading">I</span>
                <span data-text-preloader="K" class="letters-loading">K</span>
                <span data-text-preloader="M" class="letters-loading">M</span>
                <span data-text-preloader="A" class="letters-loading">A</span>
            </div>
            <p class="text-center">Loading</p>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- GT Back To Top Start -->
    <button id="back-top" class="back-to-top show">
        <i class="fa-regular fa-arrow-up"></i>
    </button>

    <%- include('partials/header') %>

    <!-- Breadcrumb-Wrapper Section Start -->
    <section class="breadcrumb-wrapper fix bg-cover"
        style="background-image: url(/assets/img/inner-page/breadcrumb.jpg);">
        <div class="shape">
            <img src="/assets/img/inner-page/shape.png" alt="img">
        </div>
        <div class="container">
            <div class="page-heading">
                <h1 class="breadcrumb-title">من نحن</h1>
                <ul class="breadcrumb-list">
                    <li>
                        <a href="/">الرئيسية</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                    </li>
                    <li>
                        من نحن
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!--Choose-us Section3 Start -->
    <section class="intro-section section-padding fix pb-0">
        <div class="container">
            <div class="section-title-area">
                <div class="section-title">
                    <span class="sub-title-2 wow fadeInUp">مقدمة عن الشركة</span>
                    <h2 class="">
                        بناء مسارات لنجاحك في الهجرة والدراسة
                    </h2>
                </div>
                <p>
                    نحن نقدم إرشادات الخبراء، وحلولاً مخصصة، وعمليات شفافة لمساعدتك في تحقيق أهدافك. يضمن فريقنا المتخصص
                    رحلة سلسة، وبناء مسارات لنجاحك الدولي.
                </p>
            </div>
            <div class="row">
                <div class="intro-image tp-clip-anim p-relative">
                    <img src="assets/img/inner-page/intro.jpg" alt="img" class="tp-anim-img" data-animate="true">
                </div>
            </div>
        </div>
    </section>

    <!--About Section Start -->
    <section class="about-section section-padding fix pb-0">
        <div class="top-shape">
            <img src="assets/img/home-1/about/globe.png" alt="img">
        </div>
        <div class="container">
            <div class="about-wrapper">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="about-image">
                            <img src="assets/img/home-1/about/about-1.jpg" alt="img" class="wow img-custom-anim-left">
                            <div class="about-image-2">
                                <img src="assets/img/home-1/about/about-02.jpg" alt="img"
                                    class="wow img-custom-anim-right">
                            </div>
                            <div class="bg-shape">
                                <img src="assets/img/home-1/about/Vector.png" alt="img">
                            </div>
                            <div class="plane-shape float-bob-y">
                                <img src="assets/img/home-1/about/plane.png" alt="img">
                            </div>
                            <div class="top-shape float-bob-y">
                                <img src="assets/img/home-1/about/shape.png" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-title mb-0">
                                <span class="sub-title wow fadeInUp">حول وكالتنا</span>
                                <h2 class="">
                                    تحويل أحلام الدراسة في الخارج إلى <span>حقيقة</span>
                                </h2>
                            </div>
                            <p class="text wow fadeInUp" data-wow-delay=".3s">
                                نحن نوجه الطلاب باستشارات الخبراء، مما يضمن عملية سلسة من التقديم إلى القبول، وتحويل
                                تطلعات الدراسة في الخارج إلى فرص لتغيير الحياة من أجل مستقبل أكثر إشراقاً.
                            </p>
                            <div class="about-item wow fadeInUp" data-wow-delay=".5s">
                                <div class="content">
                                    <span><img src="assets/img/home-1/icon/01.svg" alt=""> انتشار عالمي -</span>
                                    <p>توسيع الفرص في جميع أنحاء العالم</p>
                                </div>
                                <div class="content">
                                    <span><img src="assets/img/home-1/icon/01.svg" alt=""> دعم موثوق -</span>
                                    <p>نرافقكم خطوة بخطوة</p>
                                </div>
                            </div>
                            <ul class="list wow fadeInUp" data-wow-delay=".3s">
                                <li>
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    أسرع معالجة لملفات الفيزا مع وكلاء هجرة مؤهلين
                                </li>
                                <li>
                                    <i class="fa-solid fa-chevrons-right"></i>
                                    شراكة مع مؤسسات تعليمية دولية
                                </li>
                            </ul>
                            <a href="contact.html" class="theme-btn wow fadeInUp" data-wow-delay=".5s">
                                ابدأ الآن
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Choose-us-section-2 Start -->
    <section class="choose-us-section-2 section-padding fix bg-cover"
        style="background-image: url(assets/img/home-2/feature/bg-shape.png);">
        <div class="container">
            <div class="choose-us-wrapper-2">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="choose-us-image">
                            <img src="assets/img/home-2/feature/02.png" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feature-content">
                            <div class="section-title mb-0">
                                <span class="sub-title-2 wow fadeInUp">سفرك أصبح أسهل</span>
                                <h2 class="">
                                    رحلة فيزا سلسة مضمونة
                                </h2>
                            </div>
                            <p class="text">
                                نحن نقدم إرشادات الخبراء لكل طلب تأشيرة، مما يضمن معالجة سلسة، ودعماً مخصصاً، ومساعدة
                                موثوقة.
                            </p>
                            <div class="choose-us-box">
                                <div class="icon">
                                    <img src="assets/img/home-2/icon/01.png" alt="img">
                                </div>
                                <div class="content">
                                    <h5>مستشارون خبراء</h5>
                                    <p>
                                        مستشارو تأشيرات مؤهلون وذوو معرفة واسعة.
                                    </p>
                                </div>
                            </div>
                            <div class="choose-us-box">
                                <div class="icon">
                                    <img src="assets/img/home-2/icon/01.png" alt="img">
                                </div>
                                <div class="content">
                                    <h5>دعم مخصص</h5>
                                    <p>
                                        حلول مخصصة تناسب احتياجات كل طالب.
                                    </p>
                                </div>
                            </div>
                            <div class="choose-us-box">
                                <div class="icon">
                                    <img src="assets/img/home-2/icon/01.png" alt="img">
                                </div>
                                <div class="content">
                                    <h5>عملية شفافة</h5>
                                    <p>
                                        وضوح تام في جميع مراحل المعاملة.
                                    </p>
                                </div>
                            </div>
                            <a href="contact.html" class="theme-btn">
                                ابدأ اليوم
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--News Section Start -->
    <section class="news-section section-padding fix pt-0">
        <div class="container">
            <div class="section-title-area">
                <div class="section-title">
                    <span class="sub-title">نصائح وإرشادات الفيزا</span>
                    <h2 class="">
                        أحدث الرؤى والتحديثات
                    </h2>
                </div>
                <a href="/blog" class="theme-btn">
                    عرض جميع المقالات
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="news-card-item">
                        <div class="news-image">
                            <img src="assets/img/home-1/news/news-1.jpg" alt="img">
                            <span>تأشيرة طالب</span>
                            <div class="news-layer-wrapper">
                                <div class="news-layer-image"
                                    style="background-image: url('assets/img/home-1/news/news-1.jpg');"></div>
                                <div class="news-layer-image"
                                    style="background-image: url('assets/img/home-1/news/news-1.jpg');"></div>
                                <div class="news-layer-image"
                                    style="background-image: url('assets/img/home-1/news/news-1.jpg');"></div>
                                <div class="news-layer-image"
                                    style="background-image: url('assets/img/home-1/news/news-1.jpg');"></div>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="list">
                                <span>تعليق (08)</span>
                                <span>_ 20 أغسطس ,2025</span>
                            </div>
                            <h3>
                                <a href="/blog">
                                    دليل خطوة بخطوة للتقدم بطلب للحصول على تأشيرة طالب
                                </a>
                            </h3>
                            <div class="news-bottom">
                                <div class="info-item">
                                    <img src="assets/img/home-1/news/client.png" alt="img">
                                    <span>بواسطة سهيل</span>
                                </div>
                                <a href="/blog" class="link-btn">عرض المقال<i
                                        class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="news-card-item">
                        <div class="news-image">
                            <img src="assets/img/home-1/news/news-2.jpg" alt="img">
                            <span>IELTS / TOEFL</span>
                            <div class="news-layer-wrapper">
                                <div class="news-layer-image"
                                    style="background-image: url('assets/img/home-1/news/news-2.jpg');"></div>
                                <div class="news-layer-image"
                                    style="background-image: url('assets/img/home-1/news/news-2.jpg');"></div>
                                <div class="news-layer-image"
                                    style="background-image: url('assets/img/home-1/news/news-2.jpg');"></div>
                                <div class="news-layer-image"
                                    style="background-image: url('assets/img/home-1/news/news-2.jpg');"></div>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="list">
                                <span>تعليق (08)</span>
                                <span>_ 20 أغسطس ,2025</span>
                            </div>
                            <h3>
                                <a href="/blog">
                                    نصائح لتجهيز الوثائق المالية للموافقة على الفيزا
                                </a>
                            </h3>
                            <div class="news-bottom">
                                <div class="info-item">
                                    <img src="assets/img/home-1/news/client.png" alt="img">
                                    <span>بواسطة سهيل</span>
                                </div>
                                <a href="/blog" class="link-btn">عرض المقال<i
                                        class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="news-card-item">
                        <div class="news-image">
                            <img src="assets/img/home-1/news/news-3.jpg" alt="img">
                            <span>الدراسة في الخارج</span>
                            <div class="news-layer-wrapper">
                                <div class="news-layer-image"
                                    style="background-image: url('assets/img/home-1/news/news-3.jpg');"></div>
                                <div class="news-layer-image"
                                    style="background-image: url('assets/img/home-1/news/news-3.jpg');"></div>
                                <div class="news-layer-image"
                                    style="background-image: url('assets/img/home-1/news/news-3.jpg');"></div>
                                <div class="news-layer-image"
                                    style="background-image: url('assets/img/home-1/news/news-3.jpg');"></div>
                            </div>
                        </div>
                        <div class="news-content">
                            <div class="list">
                                <span>تعليق (08)</span>
                                <span>_ 20 أغسطس ,2025</span>
                            </div>
                            <h3>
                                <a href="/blog">
                                    دليل ما بعد الوصول: ما يجب على كل طالب معرفته
                                </a>
                            </h3>
                            <div class="news-bottom">
                                <div class="info-item">
                                    <img src="assets/img/home-1/news/client.png" alt="img">
                                    <span>بواسطة سهيل</span>
                                </div>
                                <a href="/blog" class="link-btn">عرض المقال<i
                                        class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<%- include('partials/footer') %>




<%- include('partials/scripts') %>
</body>

</html>

